/*For bigger screen then normal 1500px desktop*/

@media (min-width: 1500px) {
  .container {
    max-width: 1360px;
  }
}

@media (min-width: 991px) {
    header.trip-header-section.sticky-menu {
        opacity: 0;
      }
      .trip-hero-section.sticky-menu{
        padding: 20px 0 0;
      }
  }

@media (min-width: 1200px) and (max-width: 1499px) {
    .trip-sidebar{
        margin: 0;
    }
    .trip-sidebar-item-btn {
        padding: 0;
    }
    .trip-sidebar-item-top a {
        margin-right: 10px;
    }
    .trip-sidebar-item-top p {
        margin-right: 40px;
    }
    .trip-activity-section .trip-sidebar {
        margin-left: 0;
    }
    a.trip-card-btn {
        padding: 6px 15px;
    }

}


@media only screen and (max-width: 1199px) {
    a.trip-header-social {
        display: none;
    }
    .main-menu ul li {
        margin: 0 15px;
    }
    .main-menu {
        margin-right: 30px;
    }
    .trip-sidebar{
        margin: 0;
    }
    .trip-sidebar-item-btn {
        padding: 0;
    }
    .trip-sidebar-item-top a {
        margin-right: 10px;
    }
    .trip-sidebar-item-top p {
        margin-right: 40px;
    }
    .trip-sidebar-item-top p {
        margin-right: 30px;
    }
    .trip-card-footer {
        padding-left: 20px;
    }

    a.trip-hero-btn {
        width: 250px;
        margin: 0 10px;
    }

    .trip-activity-section .trip-sidebar {
        margin-left: 30px;
    }
    a.trip-card-btn {
        padding: 5px 10px;
    }
    .trip-location {
        margin-right: 0;
    }

}



/*For Tablet Layout*/
@media(max-width: 991px) {
    .main-menu {
        display: none; 
    }
    .offcanves-menu{
        display: block;
    }
    .menu-bar{
        display: block;
    }
    .trip-menu-wrap {
        display: block;
        text-align: left;
        margin-left: 50px;
    }
    .trip-map-two img{
        width: 100%;
        margin-bottom: 30px;
    }
    .trip-map-two {
        display: none;
      }
      a.trip-hero-btn {
        width: 30.33%;
        margin: 0 5px;
    }
    .trip-page .trip-card-content p {
        margin-left: 0;
      }

      .trip-page-section.trip-page {
        padding: 280px 0 10px;
    }
    .trip-about-thumb {
        margin-bottom: 50px;
    }
    .trip-about-thumb img{
        width: 100%;
    }

    .trip-about-thumb {
        position: inherit;
        top: 0;
      }
      .trip-contact-section {
        padding: 70px 0 ;
    }

    .trip-card2-wrap {
        margin: 0;
    }
    .trip-card2-data h3 {
        font-size: 18px;
    }
    a.trip-btn-outline {
        width: 400px;
    }

    .trip-location {
        display: none;
    }
    
.trip-location.mobile-device{
    display: block;
  }
  .trip-location.mobile-device ul li{
    margin: 0 19px;
    display: inline-block;
  }
  .trip-activity-map {
    justify-content: center;
    margin-bottom: 14px;
    margin-top: 30px;
}
.trip-activity-section .trip-sidebar {
    margin-left: 0;
}

.trip-card-section {
    padding: 220px 0 50px;
}

.trip-page .trip-date-wrap {
    max-width: 100%;
    margin-left: 115px;
}
.trip-map-three {
    display: none;
}
.trip-contact-wrap {
    margin-left: 0;
}

/* home */
.trip-contnet-section {
    display: none;
}
.trip-hero-section {
    margin-top: 128px;
    padding: 40px 0 40px;
}
.trip-contnet-section.mobile-device {
    display: block;
}
header.trip-header-section.home-header{
    padding: 19px 0 0;
}
header.trip-header-section {
    padding: 18px 0;
    top: 0;
    background-color: white;
}
.trip-contnet-section {
    padding: 5px 0;
}
.trip-contnet h2 {
    font-size: 24px;
}
.trip-brand-item {
    flex: 0 0 50%;
}
.trip-brand-item img{
    width: 150px;
}
.trip-map-red-icon{
    display: block;
}

/* contact */
.trip-hero-section.contact-page {
    padding: 110px 0 15px;
    margin-top: 0;
}
.trip-contact-left {
    margin-top: 50px;
}

/* about page */
.trip-hero-section.about-page {
    padding: 110px 0 30px;
    margin-top: 0;
}
.trip-about-section {
    padding: 225px 0 30px;
}
/* activity */
.trip-hero-section.activity-page {
    padding: 109px 0 30px;
    margin-top: 0;
}
.trip-map-four {
    display: none;
}

.trip-hero-section.trip-page {
    padding: 110px 0 35px;
    margin: 0;
}
.trip-hero-section.home2 {
    margin: 0;
}
.trip-hero-section.home2 {
    padding: 95px 0 20px;
}
.trip-date-section.home2 {
    padding: 40px 0;
}
.trip-iconbox-section {
    padding: 60px 0 30px;
}
.trip-iconbox-wrap {
    margin-bottom: 30px;
}

}


/*For Wide Mobile Layout*/
@media (max-width: 767px) {
    a.trip-header-btn {
        margin-right: 0;
    }
    .trip-logo {
        display: inline-block;
        width: 150px;
    }
    .trip-card-body {
        display: block;
    }
    .trip-card-thumb img{
        width: 100%;
    }
    .trip-card-thumb{
        margin-bottom: 20px;
    }

    .trip-sidebar-item-top {
        display: block;
        text-align: center;
    }
    .trip-sidebar-item-top p {
        margin: 15px 0;
    }
    a.trip-hero-btn{
        font-size: 15px;
    }
    .trip-cta-section {
        padding-bottom: 60px;
    }
    .trip-social ul li {
        margin: 0 20px;
    }

    a.trip-btn-outline {
        width: 270px;
    }
    .trip-card2-wrap {
        margin: 0 67px 30px;
    }

    /* home page */
    .trip-hero-section {
        margin-top: 116px;
    }
    .trip-brand-item img {
        width: 140px;
    }
    .trip-cta-border:before{
        content: none;
    }
}

@media (max-width: 667px) {
    .trip-hero-section {
        padding: 5px 0 13px;
    }
    
    .trip-date-section {
        padding: 215px 0 25px;
    }
    .trip-date-section.home2 {
        padding: 25px 0;
    }
    .trip-textarea {
        padding: 20px 0;
    }
    .responsive-width-left{
        width: 30%;
    }
    .responsive-width-right{
        width: 70%;
    }
    .trip-hero-content h1 {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .map-icon {
        width: 20px;
        margin-left: 5px;
    }
    a.trip-edit-btn, 
    a.trip-share-btn {
        font-size: 14px;
        padding: 5px 18px;
        line-height: 1;
    }
    a.trip-edit-btn img {
        margin-left: 25px;
        width: 18px;
    }
    a.trip-share-btn img {
        width: 15px;
        margin-left: 7px;
    }
    .input input {

        font-size: 12px;
    }
       
    a.trip-edit-btn{
        width: 160px;
    }
    .width_60{
        width: 60%;
    }
    .width_40{
        width: 40%;
    }
    .trip-timeline ul li {
        padding: 0;
        text-align: center;
        margin-bottom: 65px;
    }
    a.trip-outline-btn {
        width: inherit;
        font-size: 14px;
        padding: 0px 20px;
        display: inline-block;
        line-height: 25px;
    }
    .trip-outline-btn-wrap {
        margin-bottom: 22px;
    }
    .trip-user-input input {
        font-size: 13px;
    }
    .trip-timeline ul li:nth-child(1):before, 
    .trip-timeline ul li:nth-child(2):before, 
    .trip-timeline ul li:nth-child(3):before, 
    .trip-timeline ul li:nth-child(4):before, 
    .trip-timeline ul li:nth-child(5):before, 
    .trip-timeline ul li:nth-child(6):before, 
    .trip-timeline ul li:nth-child(7):before, 
    .trip-timeline ul li:nth-child(8):before, 
    .trip-timeline ul li:nth-child(9):before, 
    .trip-timeline ul li:nth-child(10):before {
    top: -48px;
    right: 0;
    padding: 0;
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 39px;
    background-size: cover;
    }
    .trip-timeline {
        margin-top: 45px;
    }
    .trip-timeline ul li h5 {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0;
    }
    .trip-timeline ul li p {
        font-size: 11px;
    }
    .trip-timeline ul {
        margin-right: 0;
        border-right: none;
        position: relative;
    }
    .trip-timeline ul li:after {
        content: "";
        width: 4px;
        top: 35px;
        height: 18px;
        position: absolute;
        background-image: url(../images/dots.png);
    }
    .trip-timeline ul li:last-child:after {
        content: none;
    }
    .trip-map-one {
        height: 390px;
    }
    .trip-map-one img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .trip-sidebar-item-top h4 {
        font-size: 13px;
    }
    .trip-sidebar-item-top h4 span {
        font-size: 20px;
    }
    .trip-main-section {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .trip-sidebar-item-top a {
        font-size: 13px;
        padding: 3px 34px;
    }
    .trip-sidebar-item-top p {
        margin: 10px 0;
        font-size: 14px;
        width: 82px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        line-height: 20px;
    }
    .trip-sidebar-item-top p img{
        width: 15px;
    }
    a.trip-hero-btn {
        font-size: 14px;
        margin: 0;
    }

    .trip-social ul li a img{
        width: 40px;
    }

.trip-contnet-section{
    display: none;
}

.menu-bar {
    color: #000;
}
.trip-contnet h2 {
    font-size: 16px;
}
.trip-contnet-section {
    padding: 5px 0;
}
.trip-textarea p {
    font-size: 12px;
    line-height: 14px;
}

.trip-hero-section.about-page {
    padding: 90px 0 15px;
}
.trip-card-section {
    padding: 175px 0 30px;
}
a.trip-btn-bg {
    font-size: 12px;
    padding: 5px 30px;
    margin-right: 20px;
}
a.trip-btn-outline {
    width: 170px;
    padding: 3px 38px;
    font-size: 14px;
}
a.trip-btn-outline img {
    margin-left: 10px;
    width: 17px;
}
.trip-card-top {
    text-align: center;
    margin-bottom: 20px;
}
.trip-card2-thumb {
    height: 170px;
}
.trip-card2-data h3 {
    font-size: 14px;
}
.trip-card2-data {
    padding: 7px;
}

.trip-activity-top h4 {
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 2px;
}
.trip-location.mobile-device ul li {
    margin: 0 7px;
    font-size: 12px;
    padding-right: 20px;
}
.trip-location ul li img {
    width: 15px;
}
.trip-activity-map {
    margin-top: 15px;
}
.trip-card-header h4 {
    font-size: 16px;
}
.trip-card-content p {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.trip-card-btn {
    padding: 3px 14px;
    font-size: 12px;
}
.trip-page .trip-date-wrap {
    margin-left: 0;
}
.trip-contnet1-section {
    padding: 12px 0;
}
.trip-content1 h3 {
    font-size: 14px;
    margin: 0 0 7px;
}
.trip-content1 h4 {
    font-size: 12px;
}
.trip-content2 h2 {
    font-size: 16px;
}
.trip-content2 p {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1;
}
.trip-contnet2-section {
    padding: 15px 0;
}
.trip-input-field input {
    font-size: 14px;
    height: 32px;
}
.trip-contact-wrap .trip-date-wrap {
    padding: 3px 25px;
    margin-bottom: 15px;
}
.trip-input-field {
    margin-bottom: 15px;
}
.trip-input-field textarea{
    height: 130px;
    font-size: 14px;
}
.trip-contact-wrap .trip-btn-wraper {
    margin: 20px 0;
    display: block;
}
.trip-contact-wrap .trip-default-btn.btn-sky {
    font-size: 14px;
    padding: 5px;
}
.trip-contact-section {
    padding: 30px 0;
}

/* home page */
.trip-hero-section {
    margin-top: 106px;
}
a.trip-default-btn {
    font-size: 14px;
    padding: 0px;
    margin-bottom: 10px;

}
/* footer */
footer.trip-footer-section {
    padding: 14px 0;
}
.footer-menu ul li {
    padding: 0;
    display: block;
    line-height: 1;
}
.footer-menu ul li a{
    font-size: 12px;
}
.footer-menu ul li:before {
    content: none;
}
.trip-footer-wrap img {
    margin-bottom: 9px;
    width: 110px;
}

/* contact */
.trip-hero-section.contact-page {
    padding: 95px 0 15px;
}
.contact-page .trip-hero-content h2, 
.contact-page .trip-hero-content h1 {
    font-size: 16px;
    margin: 0 0 0;
}
.trip-contact-ratting ul li a {
    font-size: 16px;
}
.trip-contact-ratting {
    text-align: center;
}
.trip-default-btn.btn-sky {
    font-size: 13px;
    padding: 3px;
}
.trip-contact-section .trip-btn-wraper {
    display: block;
    margin: 0 100px;
}
/* about page  */
.trip-about-section {
    padding: 180px 0 20px;
}
.trip-about-thumb {
    margin-bottom: 20px;
}
.trip-about-content p {
    font-size: 14px;
    line-height: 18px;
}
.trip-cta-wrap h2 {
    font-size: 20px;
    margin-bottom: 13px;
}
.trip-cta-menu ul li a {
    font-weight: 600;
    font-size: 13px;
}
.trip-cta-menu {
    margin-bottom: 15px;
}
.trip-social ul li a img {
    width: 25px;
}
/* ctivity */
.trip-hero-section.activity-page {
    padding: 95px 0 15px;
}
.trip-sidebar-item-top {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.trip-sidebar-item-top.desktop{
    display: none;
  }
  .trip-sidebar-item-top.mobile {
    display: flex;
}

.trip-cta2-section {
    padding: 30px 0 10px;
}
.trip-cta2-wrap {
    margin-bottom: 20px;
}
.trip-cta2-title h2 {
    font-size: 14px;
    margin-bottom: 30px;
}
.trip-cta2-data p {
    font-size: 14px;
    line-height: 18px;
}
.trip-cta2-thumb img {
    width: 100px;
    height: 100%;
}

.trip-iconbox-thumb {
    height: auto;
}
.trip-iconbox-thumb img {
    width: 100px;
}
.trip-iconbox-data h3 {
    font-size: 14px;
    line-height: 18px;
}
.trip-iconbox-data p {
    font-size: 12px;
    line-height: 20px;
}

}


/*For 320-384px up Mobile Layout*/
@media (max-width: 479px) {

    .trip-user-cion {
        top: 0px;
        right: 3px;
    }
    .ui.icon.input>i.icon {
        right: 10px;
    }
    .input input{
        padding: 5px!important;

      }
      .trip-user-input{
        position: relative;
      }

      .trip-user-input input{
        padding: 5px!important;
     
      }
      .trip-card-footer {
        padding-left: 0;
    }
    .trip-card-body {
        padding: 7px 10px 20px;
    }
    button.trip-modal {
        padding: 5px 10px;
    }
    .trip-card-header {
        display: block;
        text-align: center;
    }
    .trip-card-header h4 {
        margin-top: 15px;
    }

    a.trip-hero-btn {
        font-size: 12px;
    }

}
@media (max-width: 400px){
    .trip-menu-wrap {
        margin-left: 25px;
    }
}